:root {
    --cube-size: 100px;
    --color-white: #f5f8ea;
    --color-white-shadow-1: #96c6d9;
    --color-white-shadow-2: #e1eef2;
    --color-blue: #0d5299;
}

/*全局样式*/
body,html{
    margin: 0;
    user-select: none;
}

/*背景图层*/
div.background{
    height: 0;
}
div.background canvas{
    width: 100%;
    height: 100vh;
}

div.content{
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    pointer-events: none;
    border: 30px double var(--color-blue);
    color: var(--color-blue);
    text-shadow: 1px 1px 0 var(--color-white);
}

div.top{
    position: absolute;
    z-index: 10;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
div.top ul{
    list-style: none;
    width: 100%;
    height: 20px;
}
div.top ul li{
    height: 20px;
}
div.top a{
    font-family: "宋体";
    font-size: 14px;
    line-height: 35px;
    font-weight: bold;
    color: #016941;
    text-decoration: none;
    margin-left: 20px;
}

div.content h2{
    font-family: "Yellowtail", sans-serif;
    padding: 10px 20px 0;
    font-weight: 400;
    font-size: 30px;
    background-color: var(--color-white);
    line-height: 1;
    z-index: 1;
    border: 6px solid var(--color-blue);
    border-bottom: 0;
    margin-bottom: -6.5px;
}

div.content h1{
    font-size: 70px;
    font-family: "Josefin Sans", cursive;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--color-white);
    padding: 20px 20px 0;
    border: 6px solid var(--color-blue);
    margin: 0 0 40px 0;
 }